<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name></display-name>


    <servlet>
        <servlet-name>GradeServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.GradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grade_add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grade_update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grade_get.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grade_student_get.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grade_teacher_get.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_queryInfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_queryInfo_fromTe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_querySubjectInfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_changePassword.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_addStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_changeStuInfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student_deleteStu.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin_changePassword.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.TeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher_add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher_query.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher_delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher_update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher_changePassword.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.SubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject_get.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject_add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject_update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject_delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject_admin_get.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject_student_get.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>edu.hrbeu.msc.servlet.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/destroySession.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>edu.hrbeu.msc.servlet.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>


</web-app>
